body{
    background-image: url("../img/landing-bg.jpg");
    background-size: 102vw 101vh;
}
.row.top-nav{
    background-color: transparent;
}
.announcement{
    width: 25%;
    margin: 12% 0 0 10%;
}
.announcement h1{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
}
.announcement a{
    color: rgb(92, 0, 179);
    box-shadow: 0px 0px 10px rgb(255, 255, 89);
    padding: 9px;
    background-color: yellow;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    border-radius: 20px;
}
