div div a{
    text-decoration: none;
}

.slick{
    font-weight: 100;
    font-size: 50px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.slick:hover{
    color: white;
    cursor: pointer;
}
.tech{
    font-weight: 900;
    color: rgb(0, 238, 255);
}
.row.top-nav{
    background-color: rgb(34, 34, 34);
    margin: 0px;
    box-sizing: border-box;
}
.container{
    margin-bottom: 8%;
}
a.cart{
    font-size: 25px;
    position: relative;
    padding: 3px 8px 0 0;
}
.cart-count{
    border-radius: 50px;
    width: 20px;
    font-weight: 500;
    font-size: 12px;
    color: rgb(255, 255, 255);
    padding: 1px 3px 1px 3px;
    background-color: rgb(255, 5, 47);
    position: absolute;
    top: 0;
    right: 0;
}
.glow {

    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00d7e6, 0 0 20px #00d7e6, 0 0 25px #00d7e6, 0 0 30px #00d7e6, 0 0 35px #00d7e6;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #4dffff, 0 0 20px #4dffff, 0 0 25px #4dffff, 0 0 30px #4dffff, 0 0 35px #4dffff, 0 0 40px #4dffff;
    }
  }