input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


html body{
    background-image: radial-gradient(rgb(0, 10, 19)60%, rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-size: contain;
    overflow-x: hidden;
}
.modify i.fa-pen{
    position: absolute;
    color: rgb(162, 252, 255);  
    top: 15px;
    right: 45px;
}
.modify i.fa-trash{
    position: absolute;
    color: rgb(255, 85, 85);  
    top: 15px;
    right: 15px;
}
.container .row .item-card{
    position: relative;
    width: 90%;
    background-color: transparent;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0PX 0PX 10PX rgba(130, 198, 238, 0.5);
    outline: 1PX solid rgb(0, 195, 255);
    padding: 20px;
}

.container .row .item-card:hover{
    box-shadow: 0PX 0PX 10PX rgba(238, 130, 229, 0.5);
    outline: 1PX solid rgb(234, 0, 255);
}

.container .row .item-card img{
    width: 80%;
    max-height: 20vh;
    margin: auto;
    display: block;
}

.container .row .item-card button{
    width: 21%;
    display: inline-block;
    background-color: transparent;
}
.container .row .item-card button:hover{
    box-shadow: 0PX 0PX 10PX rgba(130, 198, 238, 0.5);
    outline: 1PX solid rgb(0, 195, 255);
}
.container .row .item-card button:active{
    box-shadow: 0PX 0PX 10PX rgba(130, 198, 238, 0.5);
    outline: 1PX solid rgb(0, 195, 255);
    border: 0;
}

.container .row .item-card input[type="number"]{
    width: 54%;
    text-align: center;
    display: inline-block;
    background-color: transparent;
    color: turquoise;
}
.container .row .item-card input[type="submit"]{
    border-color: rgb(255, 255, 255);
    color: white;
 
}
.container .row .item-card input[type="submit"]:hover{
    background-color: white;
    color: black;
}
.container .row .item-card p{
    font-size: 16px;
    margin: 0;
    color: white;
    width: 49%;

}
.container .row .item-card a{
    font-size: 18px;
}

.card-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 400px;
}

.card-carousel .my-card {
    height: 30vw;
    width: 400px;
    position: relative;
    z-index: 1;
    -webkit-transform: scale(0.6) translateY(-2rem);
    transform: scale(0.6) translateY(-2rem);
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    background: #2e5266;
    background: linear-gradient(to top, #2e5266, #6e8898);
    transition: 1s;
}

.card-carousel .my-card:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.3);
    bottom: -5rem;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.card-carousel .my-card.active {
    z-index: 3;
    -webkit-transform: scale(1) translateY(0) translateX(0);
    transform: scale(1) translateY(0) translateX(0);
    opacity: 1;
    pointer-events: auto;
    transition: 1s;
}

.card-carousel .my-card.prev, .card-carousel .my-card.next {
    z-index: 2;
    -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
    transform: scale(0.8) translateY(-1rem) translateX(0);
    opacity: 0.6;
    pointer-events: auto;
    transition: 1s;
}
