
html body{
    background-image: radial-gradient(rgb(0, 10, 19)60%, rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-size: contain;
    overflow-x: hidden;
    height: 100%;
}
body .row{
    margin: 0;
} 
.row .container{
    box-shadow: 0PX 0PX 10PX rgba(238, 130, 229, 0.5);
    outline: 1PX solid rgb(234, 0, 255);
    padding: 5%;
    width: 70%;
    height: 500px;
    border-radius: 40px;
}

.row .container img{
    width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}
p{
    font-size: 18px;
}
form textarea.form-control{
    height: 120px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: text;
    box-shadow: 0PX 0PX 10PX rgba(130, 198, 238, 0.5);
    outline: 1PX solid rgb(0, 195, 255);

}
form input.btn-lg{
    background-color: transparent;
}
ul{
    list-style-type: none;
}
li.comment{
    margin-top: 3%;
    padding-bottom:20px;
    border-bottom: 1PX solid rgba(0, 195, 255, .8);
    border-radius: 5px;

}